html{
    scroll-behavior: smooth;
}
body {
   
font-family: 'Montserrat', sans-serif;

}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
.hr-style {
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}
.section-title h3 {
    font-weight: bolder;
    margin-bottom: 0;
}
/* ===========Header start================ */
header {
    background-image: url(img/pexels-olia-danilevich-5088017.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container {
    height: 100vh;
}
.navbar {
    padding: 1% 10%;
    background: rgba(0, 0, 0, 0.3); 
}
.navbaricon {
    color: white;
}
.navbar-brand img {
    width: 60px;
    height: auto;
}
.nav-link {
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover {
    background: #2980b9;
    transform: scale(1.2);
    color: white;
}
.banner-container h1 {
    font-size: 3.5rem;
    background-color: rgba(7, 101,189, 0.8);
    padding: 10px 20px;
     font-family: 'Handlee', cursive;
     border-radius: 5px;
}

/* ===========Header end================ */

/* ============Features Start============= */
#features {
    padding: 5% 10%;
    background: #e8ded2;
}
.features-col {
    border: 1px solid #ff02c0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    transition: .4s;
}
.features-col:hover {
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style {
    background: #bb0aac;
    color: white;
    padding: 15px;
    margin: 5px 0;
}
/* ============Features end================ */

/* =============About Me Starts============== */

#about-me {
    padding: 4% 10%;
    background: #e8ded2;
}
#about-me p{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: light;
}
#about-me a{
    font-size: 0.9rem;
    font-weight: light;
    color: black;
    text-decoration: underline;
}
.star i {
    width: 20px;
}
/* =============About Me Ends============== */

/* =============Tutorial Starts========= */
#tutorial {
    padding: 4% 10%;
    background: #a3d2ca;
}
.card {
    transition: .4s;
    border: 1px solid #ff02c0;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

/* =============Tutorial Ends========= */

/* ==============Feedback Starts=========== */

#feedback {
    padding: 5%;
    background: #5eaaa8;
}
.feedback-img {
    width: 250px;
    height: auto;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.carousel-item {
    text-align: center;
    padding: 7% 15%;
    margin-bottom: 10px;
}

/* ==============Feedback Ends=========== */

/* ===============Contacts Starts=========== */

#contact {
    padding: 2% 10%;
    background: #5eaaa8;;
}


/* ===============Contacts Ends=========== */

/* ================Footer Starts=========== */

footer {
    padding: 1% 10%;
    background: #056676;
}
footer a {
    color: white;
    margin: 0 10px;
    transition: .3s;
}
footer a:hover {
    color: black;
    text-decoration: none;
}
/* ================Footer Ends=========== */

@media (max-width:768px) {
    .nav-link {
        background: rgba(0, 0, 0, 0.7);
    }
    .banner-container h1 {
        font-size: 2.5rem;
    }
    .feedback-img {
        width: 180px;
    }
    /* .my-btn {
        padding:.25rem .5rem;
        font-size:.875rem;
        line-height:1.5;
        border-radius:.2rem;
    } */
}